.warning {
    color: crimson;
}

.dummy-50px {
    height: 50px;
    color: transparent;
}

.form {
    background-color: #fff;
    padding: 20px;
}

.mybtn {
    margin-top: -30px;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
}

footer a {
    color: #f5f5f5;
}

.container-inner {
    padding: 60px 50px;
}

.container-fluid {
    padding: 0 0;
}

.dummy-hr {
    height: 30px;
}

#bg {
    background-color: coral;
}