.warning {
    color: crimson;
}
body {
    font: 400 15px/1.8 Lato, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    letter-spacing: 2px;
    opacity: 0.9;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
    background-color: #eee;
    color: #2d2d30 !important;
}

.navbar .navbar-brand::selection {
    background-color: #eee;
    color: #2d2d30 !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #efa43d !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li a {
    color: #ccc !important;
}

.navbar-brand img {
    height: 30px;
    float: left;
    margin-top: -3px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.dummy-50px {
    height: 50px;
    color: transparent;
}

.form {
    background-color: #fff;
    padding: 20px;
}

.mybtn {
    margin-top: -30px;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
}

footer a {
    color: #f5f5f5;
}

.container-inner {
    padding: 60px 50px;
}

.container-fluid {
    padding: 0 0;
}

.dummy-hr {
    height: 30px;
}

#bg {
    background-color: coral;
}

@media screen and (max-width: 300px) {
    .navbar .navbar-brand, .navbar .navbar-brand:hover {
        background-color: #2d2d30;
        color: #d5d5d5 !important;
    }

    .navbar .navbar-brand img {
        display: none;
    }
}